# Dart & Flutter
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
build/
*.lock

# Flutter specific
ios/Flutter/.symlinks
ios/Pods
ios/.generated
android/.gradle
android/app/*.keystore
*.iml

# VS Code settings
.vscode/

# Firebase build and deployment files
/firebase-debug.log
/firebase-debug.*.log
.firebaserc

# Firebase Hosting
/firebase.json
*.cache
hosting/.cache

# Firebase Functions
/functions/node_modules/
/functions/.env
/functions/package-lock.json

# Firebase Emulators
/firebase-*.zip
/.firebase/
/emulator-ui/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files (local configs)
/.env.*
t files (local configs)
/.env.*
